{% extends "base_login.html" %}

{% block body %}

    <body class="bg-gradient-primary" >

        <div class="container">

          <!-- Outer Row -->
          <div class="row justify-content-center" >

            <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5 ">
                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="{{url_for('static', filename='img/profile.jpg')}}" class="img-fluid" alt="" size = "contain" width = "100%" style = "height: 100%;">     
                            
                        </div>

                        <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center" style = "font-size: 30px; color:#4e73df; margin-botton: 20%;">
                                        <i class="fas fa-user fa-sm fa-fw mr-2" style = "font-size: 30px; margin-right: 12%; color: #4e73df" ></i>
                                        <span>User Profile</span>
                                    </div>
                                    
                                    <form class="user">

                                        <div class="card card-body" style= "margin-botton: 20%;">
                                            <p> Name:       {{name}}     </p>
                                            <p> Last Name:  {{lastName}} </p>
                                            <p> E-mail:     {{email}}    </p>

                                            <p> Type Car Brand                                              
                                                <select class = 'form-select form-select-sm' id='mySelect'  aria-label="Default select example" style= "margin-left: 10% !important"> 
                                                    <option selected>Choose one...</option>                                                  
                                                    {% for brand in typeCar %}                            
                                                      <option value={{brand}}> {{brand}} </option>
                                                    {% endfor %}
                                              </select>
                                            </p>

                                            <p> Type Car Model                                              
                                                <select class = 'form-select form-select-sm' id='mySelect'  aria-label="Default select example" style= "margin-left: 10% !important"> 
                                                    <option selected>Choose one...</option>                                                  
                                                    {% for model in typeModel %}                            
                                                      <option value={{model}}> {{model}} </option>
                                                    {% endfor %}
                                              </select>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
              </div>

            </div>

          </div>

        </div>

    </body>
{% endblock %}

	