{% extends "base.html" %}

    {% block extra_js %}

        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                crossorigin="">
        </script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

        <script src="leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
        <link rel="stylesheet" href="{{url_for("static", filename='/dist/leaflet-routing-machine.css')}}" /> 
        
        
        <script type="text/javascript">
        
        
            $(document).ready(function() {
                
                // Se crea la variable del mapa e indicamos las coordenadas q deseamos q se vea al principio
                var map = L.map('my_map').setView([39.981712, -2.8310256,7], 6);
                
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
      
            })

            // Se crea un evento que captura dos puntos seleccionados en el mapa
            map.on('click', function(e) {
                if (!firstLatLng) {
                firstLatLng = e.latlng;
                    L.marker(firstLatLng).addTo(map).bindPopup('Punto de Origen<br/>' + e.latlng).openPopup();
                } else {
                secondLatLng = e.latlng;
                    L.marker(secondLatLng).addTo(map).bindPopup('Punto de Destino<br/>' + e.latlng).openPopup();
                }

                if (firstLatLng && secondLatLng) {

                // Se dibuja la ruta entre los dos puntos
                L.Routing.control({
                    waypoints: [firstLatLng, secondLatLng]
                }).addTo(map);
                
            

                }
            })

        </script>

    {% endblock %}


 
    {% block map %}

        <div id="my_map" style= 'margin: 5px; padding: 30px; height: 50%; width: 100%;' size: 'contain'></div>
    
    {% endblock %}

