{% extends "base.html" %}

{% block extra_js %}        
        
    <script type="text/javascript">
        
        
        $(document).ready(function() {
                
                
            // Se crea la variable del mapa e indicamos las coordenadas q deseamos q se vea al principio
            var map = L.map('my_map').setView([39.8046503, -2.9391801], 6);
                
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

                                    
            L.Routing.control({
                waypoints: [
                    L.latLng(43.3525485, -8.4099873),
                    L.latLng(42.371197, -3.666308),
                    L.latLng(40.6440624, -3.1821188)                
                ]
            }).addTo(map);
               
                
        })


        </script>

    {% endblock %}


 
    {% block map %}

        <div id="my_map" style= 'height: 699px; width: 2000px;'></div>
    
    {% endblock %}

