<!DOCTYPE html>

{% block html %}
<html>

{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electric Route Tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    
</head>
{% endblock %}


{% block body %}
<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">

        {% block nav %}
        <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('main.route') }}" class="navbar-item">
                                Route
                            </a>                            
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('main.logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>

        <div class="hero-body">
  
                {% block body_content %}               
                {% endblock %}

        </div>


    </section>
</body>
{% endblock %}


</html>
{% endblock %}