{% extends "base_login.html" %}

{% block body %}

<body class="bg-img-cover" style="background-image: url('static/img/img_frequentroutes.jpg'); background-size: 1850px; height: 30px;">

    <div class="container">

      <!-- Se justifica el contenido en el centro de la página -->
      <div class="row justify-content-center" >

        <!-- Tarjeta blanca para incluir la tabla -->
        <div class="card o-hidden border-0 shadow-lg my-5">        
            
            <div class="card-body p-0">
            <div class="p-5">
                              
                <!-- Título -->
                <div class="text-center" style = "font-size: 35px; color:#4e73df; margin-botton: 50%;">
                    <span> Here are your most frequent routes </span>
                </div>

                <!-- Tabla Rutas frecuentes -->
                <div class="table-responsive " style = "margin-top:5%">
                    <table class="table table-bodered" id="table" width="100%" cellspacing="0">     

                      <!-- Nombres columnas -->            
                      <thead> 
                          <tr>
                            {% for columna in list_rutas %}                                        
                            <th> {{ columna }} </th>                                            
                            {% endfor %}
                            </tr>                                    
                      </thead>

                      <!-- Se recibe como parámetro cada una de las rutas de la tabla Outputs --> 
                      <tbody>                                         
                        {% for value in dict_rutas %}  
                        <tr> 
                          {% for value2 in value.values() %}
                            <td> {{ value2 }} </td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td></tr>
                        </tbody>
                    </table>
                  </div>
                  

                   <!-- Botón  Back to Index --> 
                    <a class="btn btn-light btn-icon-split" href="index">
                      <span class="icon text-gray-600">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text"> Back to Index </span>  
                    </a>
                    

                    <!-- Botón Actualizar información --> 
                    <a href="Route" class="nav-link btn btn-primary btn-icon-split" href="Route" style="float: right !important;" >
                      <span class="icon text-white-50">
                        <i class="fas fa-map"></i>
                      </span>
                      <span class="text"> Back to Map </span>
                    </a>
                                    
                </div>

          </div>
        </div>
      </div>
    </div>

</body>
{% endblock %}