{% extends "base_login.html" %}

{% block body %}

<body class="bg-img-cover" style="background-image: url('static/img/electric_car.jpg'); background-size: 1850px; height: 30px;">

        <div class="container">

          <!-- Outer Row -->
          <div class="row justify-content-center" >
            <div class="col-xl-10">
              <div class="card o-hidden border-0 shadow-lg my-5">

                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row justify-content-center" >
                      
                      <div class="col-lg-10">
                          <div class="p-5">
                              
                              <div class="text-center" style = "font-size: 30px; color:#4e73df; margin-botton: 50%;">
                                  <span>Here are your most frequent routes</span>
                              </div>

                              <div class="table-responsive" style = "margin-top:5%">

                                <table class="table table-bodered" id="table" width="100%" cellspacing="0">
                                
                                    <thead>
                                    <tr>
                                      {% for ruta in dict_rutas %}
                                      <th> {{ ruta }} </th>  
                                      {% endfor %}
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>    
                                    {% for ruta in dict_rutas %}
                                      <td> {{ dict_rutas[ruta] }} </td>
                                    {% endfor %}
                                    </tr>
                                  <a class="collapse-item" href="Route"> 
                                    <div class="modal-footer">
                                      <input type="submit" autofocus class="btn btn-primary" id="FrequentRoute" name="FrequentRoute" value="Go!">
                                   </div>
                                     </a> 

                                  </tbody>                                                                                           
                                </table> 


                                            
                            
                                                                    
                                </div>


                          </div>
                      </div>
                  </div>

                </div>

        </div>

    </body>
{% endblock %}