{% extends "base_login.html" %}


{% block body %}

<body class="bg-img-cover" style="background-image: url('static/img/img_password.jpg');  background-size: 1855px; height: 0px;">

    <div class="container">

      <!-- Se justifica el contenido en el centro de la página -->
      <div class="row justify-content-center" >
        
        <!-- Tarjeta blanca para incluir la tabla -->
        <div class="col-xl-5 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">

            <div class="card-body p-0">
            <div class="p-5">

                <!-- Título --> 
                <div class="text-center" >
                  <span style = "font-size: 32px; color:#4e73df; margin-buttom:5%"> Forgot your password?</span>
                   <p class="mb-4">We get it, stuff happens. Just enter your email address please!</p>
                </div>

                <!-- Formulario para el email --> 
                <form class="user" method="POST" action="/resetpassword" style = "margin-top : 10%">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="emailPassword" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" aria-describedby="newPassword" placeholder="New Password...">
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" aria-describedby="newPassword" placeholder="Confirm New Password...">
                    </div>

                    <a href="login" class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </a>

                </form>

                <!-- Línea divisora --> 
                <hr>

                <div class="text-center">
                  <a class="small" href="signup">Create an Account!</a>
                </div>

                <div class="text-center">
                  <a class="small" href="login">Already have an account? Login!</a>
                </div>


                    </div>
                  </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

    </body>


{% endblock %}