{% extends "base.html" %}

{% block extra_js %}        
        
    <script type="text/javascript">        
        
        // Se obtiene el valor de carga inicial
        function myChargeInitial(val) {
            document.getElementById("rangeInitial").innerHTML = val;
            val  = document.getElementById("rangeInitial").value;
        }

        // Se obtiene el valor de carga final
        function myChargeFinal(val) {
            document.getElementById("rangeFinal").innerHTML = val;
            val  = document.getElementById("rangeFinal").value;
        }

        // Se obtiene el valor de carga inicial y final para el modelo
        function myCharge() {
            var x  = document.getElementById("rangeInitial").value;
            var y  = document.getElementById("rangeFinal").value;
            document.getElementById("rangeInitial").innerHTML = x;            
            document.getElementById("rangeFinal").innerHTML = y;

        }

        // Dibujar mapa
        $(document).ready(function() {


            // Se obtiene la variable lista_coordenadas (lista de los ptos por los q pasa la ruta)
            var ruta = JSON.parse('{{ lista_coordenadas | tojson }}');


            // Se crea la variable del mapa e indicamos las coordenadas q deseamos q se vea al principio
            var map = L.map('my_map').setView([39.8046503, -2.9391801], 6);

            // Se grafica el mapa
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
            

            // Se inicializa una lista vacía
            var waypoints_ruta = [];
            
            // Se transforma cada par de puntos en tipo L.latLng
            for (var i = 0; i < ruta.length; i++){
                
                waypoints_ruta.push(L.latLng(ruta[i][0], ruta[i][1]));
            }

            // Se grafica la ruta
            myRouting = L.Routing.control({
                waypoints: waypoints_ruta,
                
            }).addTo(map);

        }) 

    </script>

{% endblock %}

{% block body_content%}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- ................................. Barra Lateral ................................. -->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        
        <!-- Título Electric Route -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
            <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"> Electric Route </div>
        </a>

        <!-- Línea divisora -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - New Route -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#newRoute">
                 <i class="fa fa-map fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>New Route</span>
            </a>
        </li>

        <!-- Nav Item - Frequent Routes -->
        <li class="nav-item">
            <a class="nav-link" href="frequentroutes">
                 <i class="fa fa-star fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Frequent Routes</span>
            </a>
        </li>

        <!-- Nav Item - Save Route -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#infoRoute">
                <i class="fa fa-info-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Info Route</span>
            </a>
        </li>

        <!-- Línea divisora -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Settings -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Settings</span>
            </a>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="profile">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>User Profile</span>
                </a>
            </div>
            </div>
        </li>

        <!-- Línea divisora -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline" style = "margin-top: 50%">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- ................................ Fin Barra Lateral ............................... -->

    <!-- ................................ Contenido principal ............................. -->

    <div id="content-wrapper" class="d-flex flex-column" style = "background-color: #ffffff !important">

        <!-- Main Content -->
        <div id="content" style = "background-color: #ffffff !important">
        
            <!-- .................................. Barra Superior ................................. -->
            
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link" href="profile" >
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ name }} </span>
                            <img class="img-profile rounded-circle" src="{{url_for('static', filename='img/img_avatar.jpg')}}">
                        </a>                  
                    </li>

                    <!-- Línea Dividora -->
                    <div class="topbar-divider d-none d-sm-block"></div>   

                    <!-- Nav Item - Logout -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link" href="logout"  data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- ................................ Fin Barra Superior ............................... -->


            <!-- ...................................... Mapa ....................................... -->

            <div class='col-15 bg-white'>
                <div class = 'row'>
                    <div id="my_map" style= 'height: 699px; width: 2000px;'></div>
                </div>
            </div>  

             

            <!-- .................................... Fin Mapa ..................................... -->

        </div>


        <!-- ................................... Pie de página .................................. -->
            
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Electric Route 2021</span>
            </div>
            </div>
        </footer>
        
    </div>

    <!-- .............................. Fin Contenido principal ............................ -->


</div>

<!-- End of Page Wrapper -->


<!-- ..................................... Modales ..................................... -->



<!-- ................................... Logout Modal ................................... -->

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <form action="{{url_for('auth.logout')}}">
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="logout" >Logout</a>
            </div>
        </form>
    </div>
    </div>
</div>


<!-- ................................. New Route Modal ................................. -->

<div class="modal fade" id="newRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    <div class="modal-content">

        <div class="modal-header" style="background-color: #4E73DF !important;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(255, 255, 255);">New Route</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: rgb(255, 255, 255);">×</span>
            </button>
        </div>

        <div class="modal-body">

            <!-- Select Origin -->
            <div class="container"> 
                <form class="form-group" method="POST" action="/Route">
                    <!-- Select Origin -->
                    <div class="form-group"> 
                        <label for="mySelectOrigin" class="form-label">From... </label>
                        <input class="form-control form-control-user" list="mySelectOrigin" name="mySelectOrigin" style="border-radius: 10rem;  padding: 1.5rem 1rem;" placeholder="Choose one of the following...">                           
                            <datalist id="mySelectOrigin"> 
                                {% for ciudad in ciudades %}                            
                                <option selected value= "{{ciudad}}"> {{ciudad}} </option>
                                {% endfor %}
                            </datalist>
                    </div>

                    <!-- Select Destiny -->
                    <div class="form-group">
                        <label for="mySelectOrigin" class="form-label">To... </label>
                        <input class="form-control" list="mySelectDest" name="mySelectDest" style="border-radius: 10rem;  padding: 1.5rem 1rem;" placeholder="Choose one of the following..." >
                        <datalist id="mySelectDest" >                                  
                            {% for ciudad in ciudades %}                            
                            <option value="{{ciudad}}"> {{ciudad}} </option>
                            {% endfor %}
                        </datalist>
                    </div>

                   <!-- Select Initial and Final charge -->
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <p> Initial charge </p>
                            <div style='display: inline-block; font-size: 11px;'> 0% </div>
                            <div style='display: inline-block; width: 66%; padding-left: 2%;'>
                                <p id="rangeInitial"></p>
                                <input type="range" class="custom-range" id="rangeInitial"  name='rangeInitial' min=0 max=100 oninput="myChargeInitial(this.value)">
                            </div>
                            <div style='display: inline-block; font-size: 11px;'> 100% </div>
                        </div>
                        <div class="col-sm-6">
                            <p> Final charge </p>
                            <div style='display: inline-block; font-size: 11px;'> 0% </div>
                            <div style='display: inline-block; width: 66%; padding-left: 2%;'>
                                <p id="rangeFinal"></p>
                                <input type="range" class="custom-range" id="rangeFinal"  name='rangeFinal'  min=0 max=100 oninput="myChargeFinal(this.value)">
                            </div>
                            <div style='display: inline-block; font-size: 11px;'> 100% </div>
                        </div>
                    </div>     

            </div>
                       
                    <!-- Pie de página del modal -->
                    <div class="form-group">
                        <div class="modal-footer" style= "margin-top:5%" >
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" id="newRoute" name="newRoute" onclick="myCharge()" value="Go!">
                        </div>
                    </div>
                            
                </form>  
        </div>

    </div>
    </div>
    
</div>


<!-- ................................. Info Route Modal ................................. -->

<div class="modal fade" id="infoRoute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    <div class="modal-content">

        <div class="modal-header" style="background-color: #4E73DF !important;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(255, 255, 255);">Info Route</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: rgb(255, 255, 255);">×</span>
            </button>
        </div>

        <div class="modal-body">

            <!-- Select Origin -->
            <div class="container"> 
                <div class="table-responsive" style = "margin-top:5%">
                    <table class="table table-bodered" id="table" width="100%" cellspacing="0">
                        <tr>
                          <td><b> From </b></td>
                          <td><b> {{ciudad_origen}} </b></td>
                        </tr>
                        <tr>
                          <td><b> To </b></td>
                          <td><b> {{ciudad_destino}} </b></td>
                        </tr>
                        <tr>
                          <td><b> Number of stops </b></td>
                          <td><b> {{number_stops}} </b></td>
                        </tr>
                        <tr>
                          <td><b> Time </b></td>
                          <td><b> {{brandCar}} </b></td>
                        </tr>
                        <tr>
                          <td><b> Initial charge </b></td>
                          <td><b> {{rangeInitial}} </b></td>
                        </tr>
                        <tr>
                          <td><b> Final charge </b></td>
                          <td><b> {{rangeFinal}} </b></td>
                        </tr>
                        <tr><td><b> </b></td><td><b> </b></td></tr>
                                                                                  
                    </table>
                </div>
            </div>
        </div>

        <!-- Pie de página: botón para guardar los cambios -->
        <div class="modal-footer">
          <button class="btn btn-secondary btn-user" type="button" data-dismiss="modal"> Cancel </button>
          <button class="btn btn-primary btn-user" type="button" data-dismiss="modal"> Back to map </button>
        </div>

    </div>
    </div>
    
</div>

<!-- ................................... Fin Modales ................................... -->


{% endblock %}