{% extends "base_login.html" %}


{% block body %}

    <body class="bg-gradient-primary" >

        <div class="container">

          <!-- Outer Row -->
          <div class="row justify-content-center" >

            <div class="col-xl-7 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5 ">
                <div class="card-body p-3">
                    <div class="row justify-content-center" >
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center" style = "font-size: 30px; color:#4e73df; margin-botton: 20%;">
                                    <i class="fas fa-user fa-sm fa-fw mr-2" style = "font-size: 30px; margin-right: 12%; color: #4e73df" ></i>
                                    <span>Settings</span>
                                </div>
                          <form class="user">
                          </p>
                           </div>
                          <div class="form-group">
                            <input type="Name" class="form-control form-control-user" id="Name" placeholder="Name">
                            <img class="img-profile rounded-circle" src="{{url_for('static', filename='img/avatar_login.jpg')}}">
                          </div>
                           <div class="form-group">
                            <input type="Last_Name" class="form-control form-control-user" id="last_name" placeholder="Last Name">
                          </div>
                          <div class="form-group">
                          <input type="Type Car" class="form-control form-control-user" id="type_Car" aria-describedby="emailHelp" placeholder="Select your car"> 
                          </div>
                          <div class="form-group">
                            <input type="From" class="form-control form-control-user" id="From" placeholder="From">
                          </div>
                          <div class="form-group">
                          <input type="To" class="form-control form-control-user" id="To" placeholder="To">
                          </div>
                          <div class="form-group">
                          <input type="Stops" class="form-control form-control-user" id="Stops" placeholder="Number of stops">
                          </div>
                          <div class="form-group">
                          <input type="Load" class="form-control form-control-user" id="Load" placeholder="Type of XXX">
                          </div>
                          </a>
                        </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

            </div>

          </div>

        </div>

    </body>
{% endblock %}

