{% extends "base_login.html" %}


{% block body %}

  <body class="bg-gradient-primary" >

 
  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">

        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{{url_for('static', filename='img/contra.jpg')}}"  class="img-fluid" alt="" style = "height: 100%; ">
            </div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>

              <!--Mensaje de error en caso de que el mail ya exista -->
              
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="notification is-danger"  style='color:red; margin-bottom: 2%'>
                      {{ messages[0] }}
                  </div>
              {% endif %}
              {% endwith %}

                    
              <form class = "user" method="POST" action="/signup">


                  <!-- Name -->
                  <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Enter Name...">
                  </div>

                  <!-- Last Name -->
                  <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="lastName" name="lastName" placeholder="Enter Last Name...">
                  </div>

                  <!-- Enter Email Address -->
                  <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Enter Email Address...">
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                  </div>

                  <!-- Type Car Brand -->
                  <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="brandCar" name="brandCar" placeholder="Type Car Brand">
                  </div>

                  <!-- Type Car Model -->
                  <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="modelCar" name="modelCar" placeholder="Type Car Model">
                  </div>

                  
                  <!-- Type Car Brand -->
                  <!-- <div class="form-group">                                           
                      <select class = 'form-select form-select-sm' id='mySelect'  aria-label="Default select example" style= "margin-left: 10% !important"> 
                        <option selected> Type Car Brand </option>
                            {% for brand in typeCar %}                            
                            <option value={{brand}}> {{brand}} </option>
                            {% endfor %}
                      </select>
                  </div>-->

                  <!-- Type Car Model  -->
                  <!--  <div class="form-group">
                      <select class = 'form-select form-select-sm' id='mySelect'  aria-label="Default select example" style= "margin-left: 10% !important"> 
                          <option selected>Type Car Model </option>
                            {% for model in typeModel %}                            
                          <option value={{model}}> {{model}} </option>
                            {% endfor %}
                      </select>
                  </div>
                  -->

                   <!-- Login -->
                  <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-user btn-block " id="send-signup" name="signup" value="Register Account">
                  </div>
                                       
              </div>    
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    </body>
{% endblock %}