
# sudo python3 -m pip install -U pip 


========================
        Generales        
========================

pip3 install math
pip3 install pandas
pip3 install matplotlib.pyplot
pip3 install os


========================
    Matriz Distancias         
========================

pip3 install googlemaps
from itertools import tee # No hace falta instalar nada


========================
    Cálculo rutas        
========================

pip3 install networkx


========================
    Herramienta web
========================

pip3 install flask 
pip3 install flask_sqlalchemy
pip3 install flask_login



---------------------------------------------------------------------------------------------
------------------------------------------ PRUEBAS ------------------------------------------
---------------------------------------------------------------------------------------------

 ===================
    Cálculo rutas        
 ===================

-- Librerías utilizadas para pruebas cálculo de rutas:

import networkx as nx
import osmnx as ox
from shapely.geometry import LineString, mapping
import geopandas as gpd
from ipyleaflet import *

--> Tarda mucho en crear los mapas, poco óptimo, creo q es mejor Flask con leaflet


----------------------------------------------------------------------------------------------------

 ===================
    Pyomo 5.7.2     
 ===================

Pyomo es un lenguaje de modelado de optimización de código abierto basado en Python con un conjunto
diverso de capacidades de optimización.

 
 1.1.- Instalación
 ===================

>> pip3 install Pyomo

- Dependencias: numpy, scipy, sympy, networkx, openpxl, pyodbc, xlrd, pandas, matplotlib , pymysql, pyro4 y pint.
